body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #43cea2, #185a9d);
    height: 100vh;
}

.container {
    width: 450px;
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 25px rgba(0,0,0,0.3);
}

h2 {
    color: #185a9d;
}

p {
    color: gray;
}

form {
    margin: 20px 0;
}

input[type="file"] {
    margin-top: 10px;
}

button {
    margin-top: 15px;
    padding: 10px 30px;
    border: none;
    background: #185a9d;
    color: white;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
}

button:hover {
    background: #134e7c;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background: #185a9d;
    color: white;
}

a {
    text-decoration: none;
    color: #185a9d;
    font-weight: bold;
}

a:hover {
    color: red;
}
